[project]
	description = Examples of creating JavaScript Classes with Object Oriented Programming approach
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rabbit, Bae (CheolMinBae)
[access "refs/for/refs/*"]
	read = group user/Rabbit, Bae (CheolMinBae)
	push = group user/Rabbit, Bae (CheolMinBae)
	label-Code-Review = -2..+2 group user/Rabbit, Bae (CheolMinBae)
	label-Verified = -1..+1 group user/Rabbit, Bae (CheolMinBae)
	rebase = group user/Rabbit, Bae (CheolMinBae)
	removeReviewer = group user/Rabbit, Bae (CheolMinBae)
	submit = group user/Rabbit, Bae (CheolMinBae)
[access "refs/heads/*"]
	read = group user/Rabbit, Bae (CheolMinBae)
	create = group user/Rabbit, Bae (CheolMinBae)
	push = +force group user/Rabbit, Bae (CheolMinBae)
	pushMerge = group user/Rabbit, Bae (CheolMinBae)
[access "refs/tags/*"]
	push = +force group user/Rabbit, Bae (CheolMinBae)
	pushTag = group user/Rabbit, Bae (CheolMinBae)
	pushSignedTag = group user/Rabbit, Bae (CheolMinBae)
